<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket App</title>
</head>
<body>
    <h2>Last 5 players</h2>
        
    <ul>
        {% for player in last_5_players %}
        <li>{{player.name}} ({{player.nickname}})</li>
        {% endfor %}
    </ul>

    <h2>Last 5 Matchs</h2>
    <ul>
        {% for match in last_5_matchs %}
        <li>{{match.team1.player.first.team.name}} <strong>VS</strong> {{match.team2.player.first.team.name}}</li>
        {% endfor %}
    </ul>
    
    <h2>Teams</h2>
    <ul>
        {% for team in teams %}
        <li>{{team.name}} (tiene {{team.count_player}} jugadores)</li>
        {% endfor %}
    </ul>

</body>
</html>