<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coach</title>
</head>
<body>
    <body>
        <ul>
            {% for match in matchs %}
            <li>{{match.team1.player.first.team.name}} <strong>VS</strong> {{match.team2.player.first.team.name}}</li>
            {% endfor %}
        </ul>
    </body>
    </html>
</body>
</html>