<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/basket/players/list">Players <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/basket/teams/list">Teams</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/basket/coachs/list">Coaches</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <a href="/basket/players/create">Crear Player</a>

    {% for team in teams %}
        <h2>{{ team.name }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apodo</th>
                <th scope="col">Posicion</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for player in team.players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.nickname }}</td>
                    <td>{{ player.position }}</td>
                    <td>
                        <a class="btn-primary" href="{% url 'basket:players_update' player.id %}">Editar</a>
                        <a class="btn-danger" href="{% url 'basket:players_delete' player.id %}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>



    {% endfor %}
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>